/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Category colors, preventing color shrink by cssnano */
.hack-bg-category-frontend {
	@apply bg-category-frontend;
}
.hack-bg-category-devops {
	@apply bg-category-devops;
}
.hack-bg-category-bug {
	@apply bg-category-bug;
}

@layer base {
	body {
		@apply bg-primary dark:bg-secondary;
	}
	/* Scroll bar stylings */
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
	/* Handle */
	::-webkit-scrollbar-thumb {
		border-radius: 0.25rem;
		background: #666;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #444;
	}
	::-webkit-scrollbar-thumb:active {
		background: #333;
	}
}
